<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${commPackage}.${databaseName}.dao.${className}Dao">
	<resultMap id="resultMap" type="${commPackage}.${databaseName}.entity.${className}Bean">
#foreach($item in $!{columnDatas})
#if($!item.isTimeField())
		<result property="$!item.formatColumnName" column="$!item.columnName"/>
#else
		<result property="$!item.formatColumnName" column="$!item.columnName"/>
#end
#end
    </resultMap>
	<sql id="column">
        $!{SQL.columnFields}
    </sql>
    
	<select id="findByWhere" resultMap="resultMap" parameterType="Object">
		SELECT <include refid="column" /> FROM ${tableName} where 1=1
		<if test="$!{columnDatas.get(1).getFormatColumnName()}!=null and $!{columnDatas.get(1).getFormatColumnName()}!=''">and $!{columnDatas.get(1).getColumnName()} like CONCAT('%','${$!{columnDatas.get(1).getFormatColumnName()}}','%')</if>
	</select>

	<select id="findById" resultMap="resultMap" parameterType="Object">
		$!{SQL.selectById}
	</select>
	
	<insert id="addEntity" parameterType="Object" useGeneratedKeys="true" keyProperty="id" >
		$!{SQL.insert}
	</insert>
	<update id="editEntity" parameterType="Object">
		$!{SQL.update}
	</update>
	<delete id="deleteEntity" parameterType="Object">
		delete from ${tableName} where id = #{id}
	</delete>
</mapper>