<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${commPackage}.mapper.${className}Mapper">
	<resultMap id="resultMap" type="${commPackage}.entity.po.${className}Po">
#foreach($item in $!{columnDatas})
#if($!item.isTimeField())
		<result property="$!item.formatColumnName" column="$!item.columnName" jdbcType="$!item.columnType"/>
#else
		<result property="$!item.formatColumnName" column="$!item.columnName" jdbcType="$!item.columnType"/>
#end
#end
    </resultMap>
	<sql id="column">
        $!{SQL.columnFields}
    </sql>
    
	<select id="selectByWhere" resultMap="resultMap" parameterType="Object">
		$!{SQL.selectByWhere}
	</select>

	<select id="selectByPrimaryKey" resultMap="resultMap" parameterType="Object">
		$!{SQL.selectById}
	</select>
	
	<insert id="insert" parameterType="Object" useGeneratedKeys="true" keyProperty="id" >
		$!{SQL.insert}
	</insert>
	<update id="updateByPrimaryKey" parameterType="Object">
		$!{SQL.update}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="Object">
		$!{SQL.delete}
	</delete>
</mapper>